@model SEPInstance.Dto.InputDto.Roles.EditRoleInput
<style>
    .error {
        color: red;
    }
</style>
<div class="box box-primary" style="margin-top:30px;">
    <div class="box-header with-border">
        <h3 class="box-title">编辑角色</h3>

        @Html.BreadCrumb()

    </div>
    @using (Html.BeginForm("UpdateRole", "Roles", FormMethod.Post, new { @id = "form",@class= "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control", @maxlength = 32 } })
                    @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-9">
                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @maxlength = 50 }, @rows = 5, @style = "width:100%;" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-sm-11">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" onclick="Back()">取消</button>
                        <button type="button" class="btn btn-primary btn-sm blue" onclick="Save()"><i class="fa fa-save"></i> <span>保存</span></button>
                    </div>
                </div>
            </div>
    }
</div>

    @section Scripts
{
        <script type="text/javascript">
            $(function () {
                $("#form").validate({
                    rules: {
                        DisplayName: {
                            required: true,
                            maxlength: 32
                        },
                        Description: {
                            maxlength: 50
                        }
                    },
                    messages: {
                        DisplayName: {
                            required: "请输入角色名",
                            maxlength: "最多输入32位"
                        },
                        Description: {
                            maxlength: "最多输入50位"
                        }
                    }
                });
            });
            function Save() {
                if (!$("form").valid())
                    return false;
                //this.preventDefault(); alert("come");
                var newRole = {
                    Id: $('#Id').val(),
                    DisplayName: $('#DisplayName').val(),
                    Description: $('#Description').val()
                };
                abp.ui.setBusy($('form'), abp.ajax({
                    url: '/Roles/UpdateRole',
                    data: JSON.stringify(newRole),
                    success: function (data) {
                        swal(
                            {
                                title: '保存成功',
                                text: '',
                                type: 'success'
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    location.href = '/Roles/RolesList';
                                }
                            }
                            );
                    },
                    error: function (err) {
                        abp.message.error('编辑失败！');
                    }
                }));
            }
            function Back() {
                location.href = '/Roles/RolesList';
            }
        </script>
    }
